.text-ellipsis {
  max-width: 25em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.key-visual {
  position: relative;
  width: 100%;
  /* margin-top: 64px; */
}

.kv-inner {
  position: relative;
  overflow: hidden;
}
.kv-inner::before {
  content: '';
  display: block;
  padding-top: 40%;
}
.kv-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.kv-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.kv-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.btn-kv-more {
  display: inline-block;
  margin-top: 1em;
  padding: 0.3em 2em;
  border-radius: 25px;
  border: 1px solid #fff;
}

.movie .group::after {
  content: '1';
  display: block;
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 35px;
  font-style: italic;
  color: #fff;
  text-shadow: 2px 2px 2px #00000060;
}
.movie:nth-child(2) .group::after {
  content: '2';
}
.movie:nth-child(3) .group::after {
  content: '3';
}
.movie:nth-child(4) .group::after {
  content: '4';
}
.movie:nth-child(5) .group::after {
  content: '5';
}

.btn_movie_type {
  position: relative;
}
.btn_movie_type:first-child::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1em;
  transform: translateY(-50%);
  width: 1.5px;
  height: 50%;
  background-color: #00000060;
}
.btn_movie_type.on {
  font-weight: 700;
}
