.container {
    perspective: 1000px;
    width: 70%;
}
.screen {
    background: #ccc;
    height: 150px;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.row {
    display: flex;
}

.seat_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    width: 70%;
}

.seat {
    background: #444451;
    height: 20px;
    width: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
